services:
  whisper-asr-webservice:
    image: onerahmet/openai-whisper-asr-webservice:latest-gpu
    container_name: whisperx5080-whisper-asr-webservice-gpu
    ports:
      - "8000:9000"
    environment:
      - ASR_ENGINE=whisperx
      - ASR_MODEL=large-v3
      - HF_TOKEN=${HF_TOKEN}
      - ASR_VAD=true
      - TZ=UTC
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    volumes:
      - ./config:/config